.mainHeader nav a:hover, .mainHeader nav a:active,
.mainHeader nav .active a:link, .mainHeader nav .active a:visited {
	background-color:purple;
	color:lightgray;
	text-shadow:none;
}

a {
	text-decoration:none;
	color: #3D59AB;
	font-family: Verdana, sans-serif;
}
span {
	font-weight: bold;
	font-size: 1.2em;
	color: #ffffff;
}
table {
	border:0.5em solid gray;
	margin:0 auto;
	
}
td {
	width:3.5em;
	height:2em;
	color:white;
	background-color:darkorchid;
	text-align:center;
	font-family:Garamond, Sans-serif;
	border:0.2em solid black;
}
th {
	color:indigo; 
	font-family:Futura, Serif;
	font-size: 6em;
}
h3 {
	font-size:1.6em; 
	color:darkorchid; 
	font-family:Courier, Sans-serif;
}
p, li {
	font-size:1.2em; 
	color:white; 
	font-family:Tahoma, Serif;
}
div div{
    height:3em;
    width:7em;
    background-color:#BCD2EE;
    border: 0.3em solid #6495ED;
    border-radius:0.5em;
	text-align:center;
}
